 #wrapper {
     display: flex;
 }


 #content {
     flex: 1;
     margin-left: 270px;
     padding: 20px;
 }

 #header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
 }

 #header h1 {
     color: var(--secondaryColor);
     font-size: 24px;
 }

 #search {
     display: flex;
     flex-direction: column;
     flex: 1;
     margin-bottom: 20px;
     position: relative;
 }


 #search input[type="text"]:hover {
     background-color: var(--secondaryColor);
     cursor: pointer;
     color: #fff;
 }


 #search input[type="text"] {
     transition: background-color 0.2s ease;
 }

 #search label {
     color: var(--secondaryColor);
     font-weight: bold;
 }

 #search input[type="text"] {
     width: 100%;
     padding: 10px 30px 10px 10px;
     border: 1px solid var(--secondaryColor);
     border-radius: 5px;
     font-size: 16px;
     background-color: #fff;
 }

 #search-icon {
     position: absolute;
     top: 50%;
     right: 10px;
     color: #ccc;
 }

 #input-icon-center {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #card-wrapper {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: flex-start;
     margin-bottom: 10px;
     align-items: center;
 }

 #card {
     display: flex;
     flex-direction: column;
     background-color: #fff;
     border-radius: 15px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
     padding: 20px;
     transition: all 0.2s ease;
     justify-content: center;
     align-items: center;
 }

 #card:hover {
     transform: scale(1.03);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
 }

 #card h2 {
     color: var(--secondaryColor);
     margin-bottom: 10px;
     font-size: 20px;

 }

 #card span {
     color: #000000;
     margin-bottom: 15px;
     line-height: 1.6;
     font-size: 20px;
     font-weight: bold !important;
 }

 #card p {
     color: #000000;
     line-height: 1.6;
     font-size: 20px;
     font-weight: bold !important;
 }


 #box-line {
     display: flex;
     justify-content: space-between;
     width: 100%;

 }

 #box-line> :first-child {
     padding: 10px;
     flex-grow: 0.9;
     color: var(--secondaryColor);
     font-weight: bold;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 #box-line> :first-child button {
     background-color: var(--secondaryColor);
 }


 #clients {
     justify-content: flex-start;
     width: 30%;
 }

 #client-list {
     display: flex;
     flex-direction: column;
     margin-top: 10px;


 }

 #client-list li {
     margin-bottom: 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 20px;
 }

 #client-list li span {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     margin-right: 10px;
 }

 #client-list li #approved {
     background-color: green;
 }

 #client-list li #not-approved {
     background-color: red;
 }

 #client-details-btn {
     background-color: var(--secondaryColor);
     color: #fff;
     padding: 5px 10px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 14px;
     transition: all 0.2s ease;
 }

 #client-details-btn:hover {
     transform: scale(1.03);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
 }

 @media (max-width: 768px) {
     /* Quando for mexer com responsividade */
 }