/* addclient.css */
.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

}

.modal-content {

    background-color: #fff;
    max-width: 500px;
    padding: 20px;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    color: var(--secondaryColor);
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.modal-content label {

    color: var(--secondaryColor);
    font-weight: bold;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="tel"],
.modal-content input[type="number"],
.modal-content input[type="date"] {
    padding: 10px 50px 10px 5px;
    border: 1px solid var(--secondaryColor);
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.form-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-buttons button[type="submit"] {
    background-color: var(--secondaryColor);
    color: #fff;
}

.form-buttons button[type="button"] {
    background-color: #e70909;

    color: #fff;
}

.close {
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover {
    color: #e60202;
}