/* Definindo as variáveis de cor */
:root {
    --primaryColor: #1b1b69;
    /* Azul escuro */
    --secondaryColor: #f56609;
    /* Laranja forte */
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f2f5;
}

#wrapper {
    display: flex;
}


#content {
    flex: 1;
    margin-left: 270px;
    padding: 20px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#header h1 {
    color: var(--secondaryColor);
    font-size: 24px;
}

#search-filter-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

#search {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#search label {
    color: var(--secondaryColor);
    font-weight: bold;
}

#search input[type="text"] {
    max-width: 300px;
    padding: 5px;
    border: 1px solid var(--secondaryColor);
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}

#filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#filter label {
    color: var(--secondaryColor);
    font-weight: bold;
}

#filter select {
    max-width: 200px;
    padding: 5px;
    border: 1px solid var(--secondaryColor);
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}

#add-client-btn {
    margin-top: 10px;
    background-color: var(--secondaryColor);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#client-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

#client-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

#client-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

#client-info #status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#client-info #approved {
    background-color: green;
}

#client-info #not-approved {
    background-color: red;
}

#client-name {
    color: var(--secondaryColor);
    font-size: 18px;
}



#client-actions {
    display: flex;
    gap: 10px;
}


#client-name {
    color: var(--secondaryColor);
    font-size: 18px;
}

#loan-value {
    font-size: 16px;
}

#loan-value#value-approved {
    color: #4caf50;
}

#change-status-btn {
    background-color: #e65100;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#change-status-btn:hover {
    background-color: #c04e00;
}

#view-details-btn {
    background-color: var(--primaryColor);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Mini-Cards */
#mini-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

#mini-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

#mini-card h3 {
    font-size: 16px;
    color: var(--secondaryColor);
    margin-bottom: 5px;
}

#mini-card p {
    font-size: 20px;
    font-weight: bold;
    color: var(--primaryColor);
}

/* Modal */


 

#wrapper-disabled {
    display: none;
}

/* Estilos para o botão "Enviar Lembrete" */
#send-reminder-btn {
    background-color: #3498db;
    color: #fff;
    padding: 5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send-reminder-btn:hover {
    background-color: #2980b9;
}

#send-reminder-btn:focus {
    outline: none;
}

#send-reminder-btn:active {
    background-color: #1c78a9;
}


/* Estilizando o botão desativado */
#send-reminder-btn[disabled] {
    opacity: 0.5;
    /* Reduz a opacidade do botão desativado */
    cursor: not-allowed;
    /* Define o cursor do mouse como "not-allowed" para indicar que o botão não é clicável */
}


/* Styling for the new modal */
/* Estilo do Modal */
#modal-change-status {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    /* Certifique-se de que o modal esteja acima de outros elementos */
}

#modal-change-status #modal-content {
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Adiciona sombra ao modal */
    max-width: 400px;
    /* Limita a largura máxima do modal */
    width: 80%;
    /* Define a largura do modal */
}

#modal-change-status #close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #999;
    /* Define a cor do ícone de fechar */
}

#modal-change-status h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

#status-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}



#loan-value-input {
    margin-top: 10px;
}

#loan-value-input label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

#loan-value-input input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}


/* ### (código anterior) ### */

#status-option {
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #e65100;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: #fff;
}

#status-option:hover {
    background-color: #c04e00;
    /* Altera a cor do botão ao passar o mouse */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Adiciona uma sombra leve ao botão ao passar o mouse */
}

#status-option#approve {
    background-color: #4caf50;
    /* Cor de fundo para o botão "Aprovar" */
    color: #fff;
    /* Cor do texto para o botão "Aprovar" */
}

#status-option#not-approve {
    background-color: #f44336;
    /* Cor de fundo para o botão "Não Aprovar" */
    color: #fff;
    /* Cor do texto para o botão "Não Aprovar" */
}

/* Add this to your existing style#css file or create a new CSS file and link it in the HTML */

/* Modal styles */

#modal-send-reminder {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 80%;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Reminder modal centering */
#modal-send-reminder #modal-content {
    width: 60%;
}

#reminder-options {
    display: flex;
    justify-content: space-around;
}

#modal-send-reminder #modal-content {
    width: 80%;
    max-width: 600px;
}

/* Add more information in the modal */
#modal-send-reminder #client-details {
    margin-bottom: 20px;
}

/* Style the reminder options buttons */
#reminder-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#reminder-option {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.2s ease;
    gap: 10px;
}

#reminder-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

#reminder-option {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-list #due-date {
    font-size: 14px;
    color: #ffffff;
    margin-left: 10px;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 5px;
    background-color: red;
}

#reminder-option#orange {
    background-color: orange;
}

#reminder-option#blue {
    background-color: blue;
}

#reminder-option#green {
    background-color: green;
}

#message-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

#message-options label {
    margin-bottom: 0;
}

#message-options input[type="radio"] {
    margin-right: 5px;
}

#message-options textarea {
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

#message-options input[type="radio"]:checked~#customMessageInput {
    display: block;
}

/* Laranja (orange) button */
#reminder-option#orange {
    background-color: #f36e27;
    color: #fff;
}

/* Azul (blue) button */
#reminder-option#blue {
    background-color: #007bff;
    color: #fff;
}


/* Azul (green) button */
#reminder-option#green {
    background-color: rgb(9, 183, 9);
    color: #fff;
}

/* Resto do estilo### */

/* Estilo do modal de configurações do lembrete automático */
#modal-reminder-settings {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

#modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

#modal-content p {
    margin-bottom: 16px;
}

#modal-content label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#modal-content input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#modal-content button {
    padding: 8px 16px;
    background-color: #2f374b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
}

#modal-content button:last-child {
    margin-right: 0;
}

#modal-content button:hover {
    background-color: #34495e;
}

/* Estilize o botão de lembrete automático como um checkbox personalizado */
#reminder-toggle {
    display: flex;
    gap: 5px;
    background-color: #e65100;
    padding-right: 15px;
    padding: 5px 15px 5px 0;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;

    color: #fff;
    font-weight: bold;
}

#reminder-toggle #checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
    height: 26px;
    width: 26px;
    background-color: #fff;
    border: 2px solid #2f374b;
    border-radius: 5px;
    margin-right: 8px;
}

#reminder-toggle input {
    opacity: 0;
    cursor: pointer;
}

#reminder-toggle #checkmark::before {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid rgb(16, 15, 15);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#reminder-toggle input:checked+#checkmark::before {
    display: block;
}

/* Estilize o ícone de engrenagem */
#gear-icon {
    font-size: 25px;
    cursor: pointer;
    color: #ffffff;
}


/* Resto do estilo### */

#modal-content #reminder-settings {
    margin-top: 20px;
}

#modal-content #reminder-settings h3 {
    margin-top: 0;
    margin-bottom: 16px;
}

#modal-content #reminder-settings label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: normal;
}

#modal-content #reminder-settings input[type="checkbox"] {
    margin-right: 8px;
}

/* Resto do estilo### */

#modal-reminder-settings #modal-content {
    width: 400px;
    max-width: 90%;
    padding: 20px;
}

#modal-reminder-settings #modal-content h2 {
    margin-top: 0;
}

#modal-reminder-settings #modal-content p {
    margin-top: 0;
}

#modal-reminder-settings #modal-content input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#modal-reminder-settings #divider {
    height: 1px;
    background-color: #ccc;
    margin: 16px 0;
}

#modal-reminder-settings #reminder-settings h3 {
    margin-top: 0;
    margin-bottom: 16px;
}

#modal-reminder-settings #reminder-settings label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: normal;
}

#modal-reminder-settings #reminder-settings input[type="checkbox"] {
    margin-right: 8px;
}

#modal-reminder-settings #modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

/* Estilo para quando estiver perto do vencimento (7 dias ou menos) */
#client-list li#close-to-due-date {
    background-color: red;
}

/* Estilo para quando estiver moderadamente perto do vencimento (entre 8 e 14 dias) */
#client-list li#moderate-due-date {
    background-color: yellow;
}

/* Estilo para quando estiver longe do vencimento (mais de 14 dias) */
#client-list li#far-from-due-date {
    background-color: green;
}